<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maomao.mapper.ArticleMapper">

    <select id="getAll" resultType="article">
        select  * from article
    </select>

    <resultMap id="queryListMap" type="article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="cid" property="cid"/>
        <result column="uid" property="uid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="user" javaType="com.maomao.pojo.User">
            <id column="uid" property="uid"></id>
            <result column="username" property="username"></result>
        </association>
    </resultMap>

    <select id="queryList" resultMap="queryListMap">
        select article.*,user.username from article,user
        <where>
            article.uid = user.uid
            <if test="cid != null">
               and cid = #{cid}
            </if>
            <if test="uid != null">
               and uid = #{uid}
            </if>
        </where>
    </select>

    <insert id="addArticle" useGeneratedKeys="true" keyProperty="id">
        insert into article (title, content, cid, uid) values (#{title},#{content},#{cid},#{uid})
    </insert>

    <select id="getArticle" resultType="com.maomao.pojo.Article">
        select * from article where id = #{id}
    </select>

    <update id="updateArticle">
        update article set title = #{title},content = #{content},uid = #{uid},update_time = now() where id = #{id}
    </update>

    <delete id="deleteArticle">
        delete from article where id = #{id}
    </delete>
</mapper>
