<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maomao.mapper.CategoryMapper">

    <select id="queryList" resultType="Category">
        select * from category
    </select>

    <insert id="addCategory" useGeneratedKeys="true" keyProperty="cid">
        insert into category (cname) value (#{cname})
    </insert>

    <select id="getCategory" resultType="Category">
        select * from category where cid = #{cid}
    </select>

    <update id="updateCategory">
        update category set cname = #{cname},update_time = now() where cid = #{cid}
    </update>

    <delete id="deleteCategory">
        delete from category where cid = #{cid}
    </delete>

    <select id="queryListByCondition" resultType="Category">
        select * from category
        <where>
            <if test="cname != null and cname != ''">
                cname like concat('%',#{cname},'%')
            </if>
        </where>
    </select>
</mapper>
